/* Set the height and width of the header */

header {
	height: 15%;
	width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    border: 2px solid;
    padding: 10px;
}

#map {
    height: 80%;
    width: 80%
}

#welcome {
    text-align:center;
    border-radius: 25px;
    border: 2px solid;
    padding: 3px;
}

#body1 {
    display: flex;
}

nav, #content {
    flex: 1;
    padding: 1em;
    border: solid;
}

/* Set the height and width of the navigation */
nav {
    height: 80%;
	width: 30%;
    min-width: 500px;
	float: left;
    border-radius: 10px;
    border: 2px solid;
    padding: 1%;
    flex-flow: column;
}

dt {
    font-weight: bold;
    font-size: 28px;
}

dd {
    font-size: 18px;
}

/* Set the height and width of the page content */
#content {
	margin-right: 0; /* No margin on the right */
    justify-content: center;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    min-width: 500px;
    flex-flow: column;
}

#content #promotion_information #message {
    align-content: center;
    width: 100%;
    text-align: center;
}

video {
    position: relative;
    left: 35%;
    width: 130%;
    height: 130%;
}

#dvideo {
    text-align:center;
    width: 50%;
    height: 50%;
}
/* Set the height and width of the footer */
footer {
	height: 15%;
	width: 100%;
	clear: both;
}
